<!-- start nav tag include -->
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="/">{{ site.title }}</a></h1>
		</li>
		
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span></a>
		</li>
	</ul>

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="right">
			<li class="has-dropdown">
				<a href="/reviews/">Consulting</a>
				<ul class="dropdown">
					<li><a href="/reviews/#anime"><i class="fa fa-language"></i> Translation</a></li>
					<li><a href="/reviews/#manga">Web Development / Design</a></li>
					<li><a href="/reviews/#video-games"><i class="fa fa-windows"></i> Windows Application Development / Design</a></li>
				</ul>
			</li>
			<li><a href="/authors/">Resume</a></li>
			<li><a href="/guests/">Portfolio</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</section>
</nav>
<!-- end nav tag includes -->